body {
    background-color: #602C74;
}

main {
    background-color: #FFAE31;
    width: 900px;
    margin: 0 auto;
    border-radius: 12px;
    margin-top: 43px;
}

main h1 {
    text-align: center;
    font-size: 24px;
    font-family: Lemon-Regular, Arial, sans-serif;
    padding-top: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

main article {
    width: 220px;
    background-color: #5F2055;
    display: inline-block;
    margin-left: 59px;
    margin-bottom: 28px;
    height: 413px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

article h2 {
    text-align: center;
    font-family: Lemon-Regular, Arial, sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.garant {
    text-align: center;
    font-family: Lemon-Regular, Arial, sans-serif;
    font-size: 15px;
    color: #FEC366;
    font-weight: bolder;
}

article img {
    width: 197px;
    height: 187px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid #826B73;
}

article img:hover {
    cursor: pointer;
    width: 197px;
    height: 187px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid #FA4F00;
}

.made {
    text-align: left;
    font-family: Lemon-Regular, Arial, sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 25px;
    margin-right: 47px;
}

.button {
     font-family: Lemon-Regular, Arial, sans-serif;
     width: 180px;
     height: 25px;
     text-align: center;
     background-color: #FFFFFF;
     color: #924EF4;
     font-size: 15px;
     font-weight: bolder;
     border-radius: 12px;
     margin-left: 20px;
 }

.button:hover {
    cursor: pointer;
    font-family: Lemon-Regular, Arial, sans-serif;
    width: 180px;
    height: 25px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 12px;
    margin-left: 20px;
}