body {
    font-family: sans-serif;
}

table {
    color: #333333;
    border-spacing: none;
    text-align: center;
}

td {
    padding-left: 5px;
}

thead  {
    color: #ffffff;
    background-color: #90b4d6;
    text-align: center;
    letter-spacing: 2px;
}

